<h1>Catalogo de libros:</h1>
<table class="table">
  <thead>
    <tr>
      <th>Portada</th>
      <th>Título</th>
      <th id="respons">Autor</th>
      <th id="respons">Año</th>
      <th>Precio</th>
      <th>Compra</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <td>
        <img
          width="90"
          class="img thumbnail"
          [src]="book.imagen"
          [alt]="book.titulo"
        />
      </td>
      <td>{{ book.titulo }}</td>
      <td id="respons">{{ book.autor }}</td>
      <td id="respons">{{ book.anio }}</td>
      <td>${{ book.precio }}.00</td>
      <td>
        <app-input-integer
          class="ms-2"
          [(quantity)]="book.quantity"
          [max]="book.stock"
          (maxReached)="maxReached($event)"
        ></app-input-integer>
        <div>
          <button
            class="btn btn-outline-primary mt-2"
            (click)="addToCart(book)" (click)="calculate()"
          >
            Comprar
          </button>
          <button
            class="btn btn-outline-success mt-2 ms-2"
            (click)="removeToCart(book)" (click)="calculate()"
          >
            Quitar
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
